<div id="nav-col">
  <section id="col-left" class="col-left-nano">
    <div id="col-left-inner" class="col-left-nano-content">
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <%= link_to authenticated_root_path do %>
            <i class="fa fa-dashboard"></i>
            <span>Perguntas</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div id="nav-col-submenu"></div>
</div>
